<h2><%= @important_date.name %></h2>
<p>Date of Importance: <%= @important_date.date_of_importance %></p>
<p>Description: <%= @important_date.description %></p>
<p>Importance: <%= @important_date.importance %></p>

